@page "/dd2options"

<MatTabGroup>
    <MatTab Label="Компоненты сервера">
        <h2>Компоненты сервера нельзя изменять в редакторе постов</h2>
        <MatAccordion Class="p-3">
            <MatExpansionPanel>
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>Header</MatExpansionPanelHeader>
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    <HeaderComponent/>
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        </MatAccordion>
    </MatTab>
    <MatTab Label="Компоненты поста"/>
</MatTabGroup>

@code {

}
