@addTagHelper *, Destinationosh
    <section class="header">
      <vc:nav-bar></vc:nav-bar>
      <div class="header-text">
        <h1>@Model.Header</h1>
        <p>@Model.Description</p>
        <vc:sub-bar></vc:sub-bar>
      </div>
    </section>